.form {
  padding: 0px 15px;
  padding-bottom: 100px;

  & .in-item {
    max-width: 100%;
    padding-left: 0px;
  }

  &__item {
    border-bottom: 1px solid var(--ion-color-medium);
    margin-bottom: 20px;
  }

  &__button {
    position: fixed;
    bottom: 0px;
    width: 100%;
    background: var(--ion-color-medium-contrast)
  }
}

.response {
  padding: 0px 15px;
  padding-bottom: 100px;

  &__title {
    color: var(--ion-color-medium);
    font-size: 16px;
    margin-bottom: 0px;
  }

  &__value {
    color: var(--ion-color-blue-dark);
    font-size: 1.3rem;
  }
}