<ion-content [fullscreen]="true">

  <app-explore [dataHeader]="dataHeader"></app-explore>

  <app-infopig [dataSubHeader]="dataSubHeader"></app-infopig>

  <!-- form -->
  <form #pinSecurityForm="ngForm">
    <ion-list class="form" lines="none">

      <ion-item class="form__item">
        <ion-input autocomplete="off" autocorrect="off" inputmode="email" [(ngModel)]="signup.email" name="email"
          #email="ngModel" placeholder="Correo electrónico" type="email" required></ion-input>
      </ion-item>
      <ion-text color="danger">
        <p [hidden]="email.valid || submitted == false" class="ion-padding-start">
          El correo electrónico es requerido
        </p>
      </ion-text>

      <ion-item class="form__item">
        <ion-input autocomplete="off" autocorrect="off" inputmode="email" [(ngModel)]="signup.emailConfirm"
          name="emailConfirm" #emailConfirm="ngModel" placeholder="Confirmar correo electrónico" type="email" required>
        </ion-input>
      </ion-item>
      <ion-text color="danger">
        <p [hidden]="emailConfirm.valid || submitted == false" class="ion-padding-start">
          La confirmación del correo electrónico es requerido
        </p>
        <p [hidden]="signup.emailConfirm == signup.email || submitted == false" class="ion-padding-start">
          El correo electrónico debe ser igual al escrito anteriormente
        </p>
      </ion-text>

      <ion-item class="form__item">
        <ion-input [(ngModel)]="signup.pin" name="pin" #pin="ngModel" placeholder="PIN de seguridad" type="password"
          type="password" (keyup)="onlyNumber($event, 'pin')" required></ion-input>
      </ion-item>
      <ion-text color="danger">
        <p [hidden]="pin.valid || submitted == false" class="ion-padding-start">
          El PIN es requerido
        </p>
      </ion-text>

      <ion-item class="form__item">
        <ion-input [(ngModel)]="signup.pinConfirm" name="pinConfirm" #pinConfirm="ngModel"
          placeholder="Confirmar PIN de seguridad" type="password" type="password"
          (keyup)="onlyNumber($event, 'pinConfirm')" required>
        </ion-input>
      </ion-item>
      <ion-text color="danger">
        <p [hidden]="pinConfirm.valid || submitted == false" class="ion-padding-start">
          La confirmación del PIN es requerida
        </p>
        <p [hidden]="signup.pinConfirm == signup.pin || submitted == false" class="ion-padding-start">
          El PIN de confirmación debe ser igual al escrito anteriormente
        </p>
      </ion-text>

    </ion-list>
  </form>

</ion-content>

<div class="form__button ion-padding">
  <ion-button shape="round" color="primary" (click)="pinSingup(pinSecurityForm)" type="submit" expand="block">Siguiente
  </ion-button>
</div>