<ion-content slot="start" fullscreen="true">
  <app-infopig [dataSubHeader]="dataSubHeader"></app-infopig>

  <!-- form -->
  <form #loginForm="ngForm">
    <ion-list class="form" lines="none">

      <ion-item class="form__item">
        <ion-input [(ngModel)]="login.number" name="number" #number="ngModel" placeholder="Ingresar número de celular"
          type="number" minlength="10" maxlength="10" required (change)="changeInput=true"></ion-input>
      </ion-item>

    </ion-list>
    <div class="ion-padding">
      <ion-button shape="round" (click)="loginWithNum()" type="submit" expand="block">Ingresar</ion-button>
    </div>
  </form>

</ion-content>

<ion-footer class="ion-no-border">


</ion-footer>