.number {
  position: relative;

  &__info {
    margin: 8px 0px;


    &--flag {
      text-align: center;
      position: relative;

      & img {
        margin-top: -4px;
        position: absolute;
        right: 0px;
      }

    }

    &--phone {
      color: var(--ion-color-dark-shade);

      & span {
        margin: 8px;
        margin-right: 0px;
        font-family: 'Monserrat';
      }

      & span:nth-child(1) {
        top: 5px;
        left: 0px
      }

      & span:nth-child(2) {
        top: 5px;
        left: 0px;
      }
    }
  }

  &__code {
    text-align: center;
    color: var(--ion-color-blue-dark);

    & p {
      font-size: 2rem;
      letter-spacing: 10px;
      font-weight: 600;
      margin: 3px 0px;
    }

    &--tryagain {
      margin: 10px 0px;
      text-align: center;
      font-size: 12px;

      & ion-icon {
        font-size: 18px;
        margin-bottom: -4px;
        transform: scaleX(-1);
        -moz-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        -ms-transform: scaleX(-1);
      }
    }
  }

  &__keyboard {
    background: var(--ion-color-medium-contrast);
    position: fixed;
    bottom: 0px;
    width: 100vw;
    text-align: center;

    & ion-button {
      font-family: 'Montserrat';
      font-size: 2rem;
      height: 60px;
      --box-shadow: none;

      & ion-icon {
        font-size: 4rem
      }
    }

    & .ion-color-light {
      --ion-color-base: var(--ion-color-medium-contrast) !important;
      --ion-color-contrast: var(--ion-color-blue-dark) !important;
    }
  }
}

ion-row.number__shadow {
  -webkit-box-shadow: 1px 13px 24px -11px #cecfd2;
  -moz-box-shadow: 1px 13px 24px -11px #cecfd2;
  box-shadow: 1px 13px 24px -11px #cecfd2;
  margin: 0px 12px;
}