<ion-grid class="ion-padding">
  <ion-row class="info-pig">
    <ion-col size="4">
      <div class="info-pig--img">
        <img src="../../../assets/icon/{{dataSubHeader.img}}" alt="">
      </div>
    </ion-col>
    <ion-col size="8">
      <div class="info-pig--text">
        <h2 *ngIf="dataSubHeader.title !== ''">{{dataSubHeader.title}}</h2>
        <p>{{dataSubHeader.desc.normal}} <b>{{dataSubHeader.desc.bold}}</b> {{dataSubHeader.desc.other}}</p>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>