@import '../../../theme/responsive';

.info-pig {
  padding: 60px 20px 25px 20px;
  border-bottom: 1px solid var(--ion-color-primary);
  max-width: 576px;
  margin: 0 auto;

  &--img {
    display: table-cell;
    vertical-align: middle;
    text-align: center;

    & img {
      max-width: 100px;
      display: block;
    }
  }

  &--text {
    margin-top: 30px;

    & p {
      color: var(--ion-color-medium-shade);
    }
  }
}