ion-grid.nav-grid {
  -webkit-box-shadow: 0px 10px 10px -4px rgba(105, 105, 105, 0.24);
  -moz-box-shadow: 0px 10px 10px -4px rgba(105, 105, 105, 0.24);
  box-shadow: 0px 10px 10px -4px rgba(105, 105, 105, 0.24);
}

.nav {

  &__back {
    position: absolute;
    top: 6px;
    left: 4px;

    & ion-icon {
      font-size: 2rem;
      color: var(--ion-color-primary);

    }

  }

  &__title {
    color: var(--ion-color-blue-dark);
    text-align: center;

    & h2 {
      font-family: 'Montserrat';
      font-size: .8rem;
      font-weight: 600;
    }
  }

  &__steps {

    & ul {
      display: block;
      width: 235px;
      list-style: none;
      padding: 0px;
      margin: 0 auto;
      justify-content: space-between;
      z-index: 1;
      position: relative;

      & li {
        text-align: center;
        display: inline-flex;
        height: 20px;
        width: 20px;
        border-radius: 50%;
        text-align: center;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        color: var(--ion-color-light-shade);
        font-size: 20px;
        margin-left: 48px;
        color: var(--ion-color-light-shade);
        border: 0px solid var(--ion-color-light-shade);
        background: var(--ion-color-light-shade);
        content: '';
        position: relative
      }

      & li:nth-child(1) {
        margin-left: 0px;
      }

      /*circle center*/
      & li:before {
        content: "";
        display: block;
        height: 10px;
        width: 10px;
        border-radius: 50%;
        border: 2px solid var(--ion-color-light);
        margin: 10px;
        background: var(--ion-color-light);
        position: absolute;
        top: -7px;
        left: -7px
      }

      /*line right*/
      & li:after {
        content: "";
        display: block;
        height: 1px;
        width: 41px;
        margin: 10px;
        background: var(--ion-color-medium);
        position: absolute;
        top: 0px;
        margin-left: 34px;
      }

      & li:last-child:after {
        content: "";
        display: block;
        height: 0px;
        width: 0px;
        margin: 10px;
        position: absolute;
        margin-left: 84px;
      }

      & li.active {
        color: var(--ion-color-light);
        background: var(--ion-color-medium);
      }

      & li.active:before {
        background: var(--ion-color-primary);
      }
    }
  }
}


#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}