<ion-header no-border>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button color='primary' (click)="startApp()" [hidden]="!showSkip">
        <ion-icon name="ellipsis-vertical"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-slides #slides (ionSlideWillChange)="onSlideChangeStart($event)" pager="true">

    <ion-slide *ngFor="let item of [1,2,3,4,5,6]">
      <img src="assets/icon/icon.png" class="slide-image" />
      <h2 class="slide-title">
        {{item}}. LA ALCANCÍA QUE SIEMPRE TE ACOMPAÑA
      </h2>
      <span>
        Desliza para aprender más
      </span>
    </ion-slide>

  </ion-slides>
</ion-content>


<!-- <ion-footer> -->
<div class="ion-padding">
  <ion-button shape="round" (click)="startApp()" type="submit" expand="block">Registrate</ion-button>
  <ion-button shape="round" color="secondary" type="submit" expand="block">Ingresar
  </ion-button>
</div>
<!-- </ion-footer> -->