ion-toolbar {
  --background: transparent;
  --border-color: transparent;
}

.swiper-slide {
  display: block;
}

.slide-title {
  color: #1EEA00;
  font-size: 18px;
  margin-bottom: 2rem;
  padding: 0px 30px;
}

.slide-image {
  max-height: 50%;
  max-width: 136px;
  margin: 36px 0;
  pointer-events: none;
}

span {
  font-size: 10px;
  line-height: 8.5;

  color: var(--ion-color-step-600, #60646b);
}


ion-header {
  &.header-md:after {
    background: none;
  }
}

ion-button {
  margin-bottom: 10px;
}

ion-button:nth-child(1) {
  color: var(--ion-color-blue-dark-shade);
}

ion-button:nth-child(2) {
  color: var(--ion-color-light-shade);
}