/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import './theme/responsive';

/* Ionic */
@font-face {
  font-family: 'Montserrat';
  src: url('./assets/fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Light';
  src: url('./assets/fonts/Montserrat/Montserrat-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-Italic';
  src: url('./assets/fonts/Montserrat/Montserrat-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat-Light-Italic';
  src: url('./assets/fonts/Montserrat/Montserrat-LightItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Montserrat-medium';
  src: url('./assets/fonts/Montserrat/Montserrat-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat-bold';
  src: url('./assets/fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat-bold';
}

span {
  font-family: 'Montserrat-Light-Italic';
}

p {
  font-family: 'Montserrat';
}

ion-button {
  font-family: 'Montserrat';
  text-transform: inherit;
  font-size: 25px;
  padding: 0px;
  height: 50px;
}

ion-button.ion-color-primary.button-solid {
  --color: var(--ion-color-blue-dark) !important;
  --ion-color-contrast: var(--ion-color-blue-dark) !important;
}

/* points dot slider*/
.swiper-pagination-bullet {
  background: #004B40 !important;

  @include --tablet {
    width: 14px;
    height: 14px;
  }
}

// alerts
.sc-ion-alert-md-h {
  --backdrop-opacity: .8 !important;
}

.message {

  &-question {
    & .alert-head h2 {
      color: var(--ion-color-blue-dark);
      font-family: 'Montserrat';
      font-size: 1.4rem;
      font-weight: 600;
    }

    & .alert-button.sc-ion-alert-md:nth-child(1) {
      color: var(--ion-color-danger);

      & span {
        font-family: 'Montserrat-Bold';
      }
    }

    & .alert-button.sc-ion-alert-md:nth-child(2) {
      color: var(--ion-color-blue-dark);

      & span {
        font-family: 'Montserrat-Bold';
      }
    }
  }

  &-error {
    & .alert-head h2 {
      color: var(--ion-color-danger);
      font-family: 'Montserrat';
      font-size: 1.4rem;
      font-weight: 600;
    }

    & .alert-button.sc-ion-alert-md:nth-child(1) {
      color: var(--ion-color-blue-dark);

      & span {
        font-family: 'Montserrat-Bold';
      }
    }
  }
}